SeleniumPresentation/Lesson2-PageObject+TestNG/TestBase/test-output/junitreports/TEST-tests.RegistrationTest.xml
SeleniumPresentation/Lesson2-PageObject+TestNG/TestBase/test-output/
SeleniumPresentation/Lesson2-PageObject+TestNG/TestBase/.project
SeleniumPresentation/Lesson3-Maven+Debugin+Log4j/.metadata/
SeleniumPresentation/Lesson3-Maven+Debugin+Log4j/1-MavenGenerators/.idea/
SeleniumPresentation/Lesson3-Maven+Debugin+Log4j/1-MavenGenerators/selenium-course/.idea/
SeleniumPresentation/Lesson3-Maven+Debugin+Log4j/2-MavenDependencies/target/
SeleniumPresentation/Lesson3-Maven+Debugin+Log4j/2-MavenDependencies/.idea/
